.container-body{
    background-color: rgb(213, 213, 213);
    height: calc(100vh - 60px);
}
.produtoss{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 4%;
}
.array-card{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 4%;
}